/* ==Milik Bagian 1 & 3== */
@media all and (max-width: 1000px) {
/*  Bagian 1  */
  .header-left {
    display: none;
  }
  .menu-bar {
    font-size: 14px;
  }
  .more {
    display: inline;
  }

/*  Bagian 3  */
  .hero {
		width:50%;
		margin-bottom:30px;
	}
	.heroes-heading {
		font-size:30px;
	}
  
}

@media all and (max-width: 670px) {
/*  Bagian 1  */
  .header-right a{
    font-size: 11px;
    padding: 0 5px;
  }

  footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .footer-left {
    float: none;
  }
  .footer-right {
    float: none;
  }
  .footer-right img{
    padding-top: 5px;
  }
  .btn {
    width: 100%;
  }
  .title-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .title-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
/*  Bagian 3  */
	.hero {
		width:100%;
	}
	.box {
		width:70%;
	}
	.name {
		margin:10px auto;
	}
	.context {
		font-size:13px;
	}

}

/* ==Milik Bagian 2== */
@media(max-width: 1200px){
    .long {
        width: 610px;
    }
    .short {
        width: 285px;
    }
    .events-container a {
        margin: 20px;
    }
    .event-circle {
        left: 275px;
    }
    .short .event-circle {
        left: 112.5px;
    }
}

@media(min-width: 640px){
    .event-box:hover {
        transition: all 1s;
        transform: scale(1.05);
    }
    .events-container a {
	margin: 15px 15px;
    }
    .event-box:hover .event-circle {
	opacity: 0;
    }
}

@media(max-width: 720px){
    .long {
        width: 380px;
    }
    .short {
        width: 380px;
    }
    .events-container a {
        margin: 15px;
    }
    .event-circle, .short .event-circle {
        left: 160px;
    }
}

/* ==Milik Bagian 4== */

/* Layout untuk Tablet */
@media (max-width: 1000px) {
	.
.arena-box {
  width:40%;
  overflow: hidden;
  }
.about {
  width:100%;
  font-size:20px;
  }

.details p {
  width:70%;
  }
.details li {
  margin:20px 10px;
  font-size:10px;
  }
.containerAtas {
  background-size:cover;
  width:100%;
  height:450px;
  }

.featured-mode h2{
  padding-top: 140px;
  padding-bottom:8px;
  color:#85784a ;
  letter-spacing: 5px;
  text-indent: 5px;
  font-size: 40px;
}
.btn-gameModes {
  padding: 20px 15px;
  font-weight: 400;
  letter-spacing: 4px;
  text-indent: 5px;
  font-size: 10px;
}
.message-wrapperArena{
  height:50px;
}
}

/* Layout untuk Smartphone */
@media (max-width:670px) {
  .modesatas a{
	  width:100%;
  }
  .modesbawah a {
	  width:100%;
  }
  .arena-box {
  width:60%;
  height:160px;
  margin:10px auto;
  }
 .arena-image{
   height:80%; 
  }
  .arena-name{
	  height:20%;
	  font-size:60%;
  }
.about {
  width:100%;
  font-size:15px;
  }

.details li {
  margin:15px 5px;
  }
.containerAtas {
  background-size:155%;
  background-repeat:no-repeat;
  width:100%;
  height:250px;
  }

.featured-mode h2{
  padding-top: 70px;
  padding-bottom:5px;
  color:#85784a ;
  letter-spacing: 3px;
  text-indent: 3px;
  font-size: 30px;
}
.btn-gameModes {
  padding: 20px 15px;
  font-weight: 400;
  letter-spacing: 4px;
  text-indent: 5px;
  font-size: 10px;

}
.message-wrapperArena{
  height:50px;
}
}


/* === MIlik Bagian 5 ===  */
/* Untuk Tablets */
@media (max-width: 1000px) {
	
	.com-sol {
		padding:0 30px 30px 33px;
	}

	.clear {
		clear: left;
	}

	.community h3 {
		font-size: 36px;
		letter-spacing: 12px;
		margin-bottom: 40px;
		padding-bottom: 20px;
	}

	.community {
		padding: 50px; 
		margin-bottom: 80px;
	}  

	.top-commun {
		width: 50%; 
		margin-top: 70px;
	}
		
	img-bag5 {
		border:medium solid #C6CB14
	}
		img.comm-pict {
			margin-top: 0px; 
		}

	.pict-logo {
		margin-bottom: 20px;
		margin: 0px 25px;
		padding-bottom: 50px;
	}
		
	/* CSS Console Link */
	.console-link {
		margin: 50px 80px;
	}
	.lesson {
		width: 50%;
		margin-bottom: 50px;
	}
		
	.console-link h3 {
		font-size: 36px;
		letter-spacing: 12px;
	}
		
	.top-commun {
		float:left;
		width: 50%; 
		height: 384px;
		margin-bottom:50px auto;  
		}
}

  /* Untuk Smartphones */
  @media (max-width: 670px) {
	  
	.com-sol {
		padding: 0;
	}
	.console-link {
    	margin: 50px 0;
		padding-top: 10px;
	}
	  
	.community h3 {
		font-size: 22px;
		letter-spacing: 5px;
		border-bottom: 1px solid #87D861;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	.community {
		text-align: center;
		padding: 0; 
		margin: 0 auto;
		margin-bottom: 40px;
	}  

	.top-commun {
		margin-top: 40px;
	}

	img-bag5 {
		border:medium solid #C6CB14
	}
		
	img.comm-pict {
		margin-top: 0px; 
	}

	.pict-logo {
		margin-bottom: 20px;
		margin: 0 auto;
	}	
	.com-sol img {
    		width: 90%;
        }

/* CSS Console Link */

	.console-link h3 {
		font-size: 26px;
		letter-spacing: 5px;
		margin: 20px 0;
		
	}
	.top {
		width: 100%;
	}

	.top.console1 {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
       .console-link img{
    		height: 120px;
    		width: auto;
       }

}
